- No 1

In [1]:
bunga = ['mawar merah', 'mawar putih', 'melati', 'tulip', 'sepatu']

# Looping masing-masing item dengan menambahkan kata "bunga"
for b in bunga:
    print("bunga", b)

# Menambahkan item "sedap malam" setelah item "melati"
bunga.insert(3, "sedap malam")

# Menghapus item pada index ke-2
del bunga[2]

# Menampilkan hasil akhir
print(bunga)

bunga mawar merah
bunga mawar putih
bunga melati
bunga tulip
bunga sepatu
['mawar merah', 'mawar putih', 'sedap malam', 'tulip', 'sepatu']

- No 2

1. Buat dataframe

In [2]:
import pandas as pd

data = {
    "Nama": ["Andi", "Budi", "Susi", "Andi", "Susi", "Lala", "Budi", "Lili", "Lala"],
    "Jenis Kelamin": ["L", "L", "P", "L", "P", "P", "L", "P", "P"],
    "Hari": ["Senin", "Senin", "Senin", "Senin", "Selasa", "Selasa", "Selasa", "Rabu", "Rabu"],
    "Jarak": [10, 15, 7, 10, 9, 8, 17, 7, 6]
}

df = pd.DataFrame(data)

# menampilkan dataframe
print(df)

   Nama Jenis Kelamin    Hari  Jarak
0  Andi             L   Senin     10
1  Budi             L   Senin     15
2  Susi             P   Senin      7
3  Andi             L   Senin     10
4  Susi             P  Selasa      9
5  Lala             P  Selasa      8
6  Budi             L  Selasa     17
7  Lili             P    Rabu      7
8  Lala             P    Rabu      6

2. Filter berdasar jenis kelamin

In [3]:
# filter data berdasarkan jenis kelamin laki-laki
df_laki_laki = df.loc[df["Jenis Kelamin"] == "L"]

# menampilkan hasil filter
print(df_laki_laki)

# filter data jenis kelamin perempuan
df_perempuan = df.loc[df["Jenis Kelamin"] == "P"]

# menampilkan hasil filter
print(df_perempuan)

   Nama Jenis Kelamin    Hari  Jarak
0  Andi             L   Senin     10
1  Budi             L   Senin     15
3  Andi             L   Senin     10
6  Budi             L  Selasa     17
   Nama Jenis Kelamin    Hari  Jarak
2  Susi             P   Senin      7
4  Susi             P  Selasa      9
5  Lala             P  Selasa      8
7  Lili             P    Rabu      7
8  Lala             P    Rabu      6

3. Urutkan berdasarkan nama

In [4]:
# mengurutkan data berdasarkan kolom Nama
df_urutan_nama = df.sort_values("Nama")

# menampilkan hasil pengurutan
print(df_urutan_nama)

   Nama Jenis Kelamin    Hari  Jarak
0  Andi             L   Senin     10
3  Andi             L   Senin     10
1  Budi             L   Senin     15
6  Budi             L  Selasa     17
5  Lala             P  Selasa      8
8  Lala             P    Rabu      6
7  Lili             P    Rabu      7
2  Susi             P   Senin      7
4  Susi             P  Selasa      9

4. Ganti nama ke bahasa Inggris

In [5]:
df = df.rename(columns={'Nama': 'Name', 'Jenis Kelamin': 'Gender', 'Hari': 'Day', 'Jarak': 'Distance'})
print(df)

   Name Gender     Day  Distance
0  Andi      L   Senin        10
1  Budi      L   Senin        15
2  Susi      P   Senin         7
3  Andi      L   Senin        10
4  Susi      P  Selasa         9
5  Lala      P  Selasa         8
6  Budi      L  Selasa        17
7  Lili      P    Rabu         7
8  Lala      P    Rabu         6

5. Tunjukkan baris index ke 3

In [6]:
baris_ke_3 = df.iloc[2] #2 karena index dalam Python dimulai dari 0
print(baris_ke_3)

Name         Susi
Gender          P
Day         Senin
Distance        7
Name: 2, dtype: object

6. Tunjukkan data yang berjenis kelamin perempuan saja!

In [7]:
perempuan_data = df[df['Gender'] == 'P']
print(perempuan_data)

   Name Gender     Day  Distance
2  Susi      P   Senin         7
4  Susi      P  Selasa         9
5  Lala      P  Selasa         8
7  Lili      P    Rabu         7
8  Lala      P    Rabu         6

7. Tunjukkan data Susi

In [8]:
susi_data = df[df['Name'] == 'Susi']
print(susi_data)

   Name Gender     Day  Distance
2  Susi      P   Senin         7
4  Susi      P  Selasa         9