<a href="https://colab.research.google.com/github/Tarnished2/DataScientist/blob/main/PythonDataScience/1.BasicPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Breakout Room Study Case

Pramaditya Ardian Saputra

## Case 1
Anda adalah sebuah pegawai yang ditugaskan untuk membuat sebuah program rekap. Sehingga data yang ada dibawah ini dapat disimpan dalam sebuah variabel dengan tipe dictionary
- (Nama: Andi, Nilai: 88)
- (Nama: Arley, Nilai: 77)
- (Nama: Zio, Nilai: 99)

In [1]:
data = {
    "Andi": 88,
    "Arley": 77,
    "Zio": 99
}
print(data)

{'Andi': 88, 'Arley': 77, 'Zio': 99}

## Case 2
Buatlah sebuah program untuk memasukkan dan menghitung biaya laundry dan dry clean dengan beberapa ketentuan sebagai berikut: (skor maksimal 35)

1. Biaya laundry per-kg Rp. 6000 dan dry clean per-item Rp. 35000.
2. Terdapat diskon 5% jika melakukan laundry lebih dari 10 kg. Sedangkan dry clean juga diskon 5% jika melakukan dry clean lebih dari 5 item.
3. Terdapat diskon member 3% untuk member bronze, 4% untuk member silver, dan 5% untuk member gold. Diskon diterapkan pada total biaya akhir.
Selanjutnya, lengkapilah Tabel 2 berikut sesuai menggunakan program yang telah anda buat.

Dan Selanjutnya hitunglah harga berikut:
- (Nama: Vincent, Laundry: 11 Kg, Dry Clean: 6 item, Status member: Gold, Harga: ...)
- (Nama: Aldi, Laundry: 7 Kg, Dry Clean: 8 item, Status member: Silver, Harga: ...)
- (Nama: Dewi, Laundry: 3 Kg, Dry Clean: 2 item, Status member: Non-member, Harga: ...)

In [2]:
harga_laundry = 6000
dry_clean = 35000
item = int(input("Masukkan itemnya : "))
kg = int(input('masukkan berapa kilo : '))
member = str(input('member apa ? '))
if kg>10:
  total_bayar = kg*harga_laundry*(95/100)
  print(total_bayar)
else:
  total_bayar = kg*harga_laundry

if item>5:
  bayar_dry_clean = item*dry_clean*(95/100)
else:
  bayar_dry_clean = item*dry_clean

#bikin program if-else dari member
if member=="Gold":
  harga_member = (95/100)*(total_bayar+bayar_dry_clean)
elif member == "Silver":
  harga_member = (96/100)*(total_bayar+bayar_dry_clean)
elif member == 'Bronze':
  harga_member = (97/100)*(total_bayar+bayar_dry_clean)
else:
  harga_non_member = total_bayar+bayar_dry_clean

if member in ["Gold","Bronze","Silver"]:
  print(harga_member)
else:
  print(harga_non_member)

Masukkan itemnya : 6
masukkan berapa kilo : 11
member apa ? Gold
62700.0
249090.0

## Case 3
Buatlah sebuah program untuk menghitung gaji yang harus diterima oleh karyawan dengan ketentuan sebagai berikut: (skor maksimal 35)
-	Gaji pokok: Golongan III.b Rp. 2775000 dan Golongan III.c Rp. 3000000
-	Jika sudah berkeluarga maka terdapat tunjangan: Istri Rp. 250000, Anak Rp. 250000 untuk setiap anak yang dimiliki (maksimal 2 anak)
-	Uang kehadiran: Rp. 37500 per hari
-	Uang makan: Rp. 35000 per hari (per kehadiran)
Kemudian hitunglah:
- Nama: Andi; Golongan: 3a; Sudah berkeluarga; 3 Anak; 19 hari kehadiran; Gaji yang diterima ...
- Nama: Andre; Golongan: 3b; Belum berkeluarga; 0 Anak; 20 hari kehadiran; Gaji yang diterima ...

In [3]:
# Program input
nama = input("Masukkan nama: ")
gol = input("Masukkan Golongan Karyawan: ") # 3a dan 3b
brkg = input("Apakah Sudah Berkeluarga: ") # Sudah belum
anak = int(input("Masukkan Jumlah Anak: "))
kehadiran = int(input("Jumlah Kehadiran: "))

# Program Gaji
# tg berdasarkan golongan dan brkg
if gol == "3a" and brkg == "Sudah":
  tg = 2775000 + 250000
elif gol == "3b" and brkg == "Sudah":
  tg = 3000000 + 250000
elif gol == "3a" and brkg == "Belum":
  tg = 2775000
else:
  tg = 3000000

# tg berdasarkan anak
if anak == 0:
  tg = tg
elif 0 < anak <= 2:
  tg = tg + (anak*250000)
else:
  tg = tg + (2*250000)

# tg berdasarkan kehadiran
tg = tg + (kehadiran * (37500+35000))

print("Gaji yang diterima", tg)

Masukkan nama: Andi
Masukkan Golongan Karyawan: 3a
Apakah Sudah Berkeluarga: Sudah
Masukkan Jumlah Anak: 3
Jumlah Kehadiran: 19
Gaji yang diterima 4902500

## Case 4
Dengan menggunakan perulangan while atau for buatlah:
  1. Fungsi untuk menampilkan bilangan 1 sampai 200 yang habis dibagi dengan 7 dan merupakan bilangan genap
  2. Fungsi untuk menampilkan deret 0, 1, 1, 2, 3, 5, ..., 4181

jawaban untuk no 1

In [4]:
for i in range(1, 201):
    if i % 7 == 0 and i % 2 == 0:
        print(i)

14
28
42
56
70
84
98
112
126
140
154
168
182
196

jawaban untuk no 2

In [5]:
a, b = 0, 1
while a <= 4181:
    print(a, end=" ")
    a, b = b, a + b

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

## Case 5
Buatlah sebuah fungsi untuk menampilkan bilangan prima hingga suku ke n:

In [6]:
def print_primes(n):
    primes = []
    num = 2
    while len(primes) < n:
        if all(num % i != 0 for i in range(2, int(num**0.5)+1)):
            primes.append(num)
        num += 1
    print(primes)

diambil contoh bahwa n adalah 10, maka

In [7]:
print_primes(10)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]